*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-left: 50px;
}
.center{
   margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.p-1{
    font-size: 40px;
    font-weight: bold;
}
.one{
    width: 50%;
    height: 20%;
    margin-top: 20px;
}
.two{
    width: 53%;
    height: 20%;
    margin-top: 20px;
}
.three{
    width: 53%;
    height: 20%;
    margin-top: 20px;
}
.four{
    width: 54%;
    height: 30%;
    margin-top: 20px;
}
.five{
    width: 54%;
    height: 30%;
    margin-top: 20px;
}
.six{
    width: 54%;
    height: 30%;
    margin-top: 20px;
}
.seven{
    width: 54%;
    height: 30%;
    margin-top: 20px;
}
.p-2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.p-3{
    margin-top: 15px;
    font-size: 19px;
}
.p-4{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.ol-1{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 18px;
}
.p-5{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.p-6{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}
.p-7{
    margin-top: 20px;
    font-size: 19px;
}
.p-8{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.p-9{
    margin-top: 20px;
    font-size: 19px;
}
.p-10{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.p-11{
    margin-top: 20px;
    font-size: 19px;
}
.p-12{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.p-13{
    margin-top: 20px;
    font-size: 19px;
}
.p-14{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.p-15{
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}
.p-16{
    margin-top: 20px;
    font-size: 19px;
}
.p-17{
    margin-top: 20px;
    font-size: 19px;
}
.p-18{
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}
.p-19{
    margin-top: 20px;
    font-size: 19px;
}
.p-20{
    margin-top: 20px;
    font-size: 19px;
}